{% extends 'main_html/base.html' %}
{% block content %}
        <section class="foot-item3 ">
            <h4 class="titles">Գաղտնիության քաղաքականություն</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, ius
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, i
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, i
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, i
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, i
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, iusto itaque eos ipsum autem
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, iusto itaque eos ipsum autem
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, iusto itaque eos ipsum autem
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, iusto itaque eos ipsum autem
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, iusto itaque eos ipsum autem
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, iusto itaque eos ipsum autem
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, iusto itaque eos ipsum autem
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, iusto itaque eos ipsum autem
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, iusto itaque eos ipsum autem
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates cum architecto illo, iusto itaque eos ipsum autem
                 voluptate molestiae omnis eveniet quaerat voluptatum nostrum totam praesentium aperiam magni sapiente?</p>
        </section>
{% endblock %}